<% content_for(:title, "skill | To Do") %>

<h1><%= @skill.name %></h1>


<% if @skill.experiences.any? %>
  <h4>Here are the experiences of this skill:</h4>

  <ul>
    <% @skill.experiences.each do |experience| %>
    <li>
      <%= experience.description %>
        <%= form_for [@skill, experience], :html => { :class => 'form-inline'} do |f| %>
                <input name ="_method" type="hidden" value="patch" />
                <%= f.hidden_field :done, :value => true %>

      <%= link_to "Edit", edit_skill_experience_path(@skill, experience) %>
      <%= link_to "Delete", skill_experience_path(@skill, experience),
                              :data => {:confirm => "Are you sure?",
                              :method => "delete"} %>
    </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no experiences yet!</p>
  <% end %>